*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#root{
  width: 100vw;
    height: 100vh;
    overflow: scroll;
    position: relative;
}

#root::-webkit-scrollbar {
    display: none;
}

#canvas{
    width: 100vw;    
    height: 100vh;
    /* background-color: antiquewhite; */
    position: relative;
}

#top{
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0.16rem 0.16rem 0rem 0rem;
    margin: 0.62rem 0.16rem 0.125rem 0.50rem;
    /* border: 1px solid green; */
    z-index: 100;
  }

#topLeft>div{
    cursor: pointer;
    background-color: #fff;
    
}
#topLeftBtn{
    padding: 5px;
    border-radius: 5px;
}
#topLeft{
    border-radius: 5px;
    background-color: #e4e1e1;
}
.lightbghover:hover{
    background-color: #eeeded;
}
  button{
    background-color: transparent;
    border: none;
  }
.dchide{
  display: none;
}
   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
    /* display: none !important; */
    position: absolute !important;
    background-color: white !important;
    min-width: 200px !important;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2) !important;
    z-index: 1 !important;
    left: 15px;
    top: 20vh;
  }
  .dropdown-content>select, .canvasBackground, .color-picker>button{
    margin-left: 10px;
  }
  /* .canvasBackground{
    margin-left: 10px;
  } */
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black ;
    padding: 5px 10px ;
    font-size: small ;
    text-decoration: none ;
    display: block ;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white !important;}
  /* Show the dropdown menu on hover */
  /* #topLeftBtn:hover .dropdown-content {
    display: block !important;
  
  } */
  .color-picker>button>div{
     width:18px !important;
     height:18px !important;
     margin-left:2px !important;
     border:1px solid lightgray !important;
     border-radius: 3px !important;
    box-sizing: border-box !important;
  }
  .color-pick{
    width: 18px; height: 18px !important;
    margin: 2px !important;
    pad: 2px !important;
  }
  .color-picker>button{
    border: none !important;
    background-color: white !important;
  
  }
  #topCenter{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    overflow-x: scroll;
    padding: 5px;
    box-shadow: 3px 2px 2px #e4e1e1;
    border-radius: 10px;  
    gap: 2px;
    background-color: #fff;  
  }


Button,.option{
    cursor: pointer;
    padding: 1px;
}
.active {
    background-color: #3a34eb;
    border-radius: 4px;
    color: white;
}
  #topCenter::-webkit-scrollbar{
    display: none;
  }

  #Topverticle
  {
    margin-top: 0.35rem;
    margin-left: 0.50rem;
    margin-bottom: 0.1rem;
    border-left: 2px solid #f2f2f2;
    height: 1.25rem;  
  }

  sub{
    color: #e4e1e1;
  }
  #topRight{
    width: 9.99rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    
  }
.material-symbols-outlined{
    font-size: 20px !important;
}

#topRight>button{
    height: 1.90rem;
    padding: 0.16rem;
    border-radius: 5px;
}
#share{
    width: 68px;
    background-color: rgb(50, 50, 238);
    color: #f2f2f2;
  }
#library{
    background-color:#e4e1e1;
    width: 85px;
}
#LibraryButton:hover{
    background-color: #eeeded;    
}
.tooltip {
    background-color: white;
    text-align: center;
    padding: 4px;
    border: 0.5px solid black;
    font-size: small;
    position: absolute;

  }
  #bottom{
    width: 120px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #bottomleft{
    width: 190px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1.80rem;
    bottom: 0px;
  
  }

  #bottomright{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 5px;
    background-color: #fff;
  }
  .zoom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e4e1e1;
    border-radius: 5px;
    padding: 4px;
  }
  .undoredo{
    background-color: #e4e1e1;
    border-radius: 5px;
    padding: 4px;
  }

.form {
  position: fixed;
  left: 10px;
  top: 30vh ;
  border: 1px solid #ededed;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  visibility: hidden;

}

.edgeDiv{
  visibility: hidden;
}

#strokewidth>button{
  width: 25px;
  height: 25px;
  background-color: #ededed;
  border-radius: 5px;
}
#strokewidth>button:hover{
  border: 1px solid rgb(39, 38, 38);
}
.border{
  border: 1px solid blue;
}
#strokestyle>button:hover, #fillbackground>button:hover,#edge>div:hover,#fill>div:hover{
  border: 1px solid rgb(39, 38, 38);
}
#strokestyle>button, #fillbackground>button,#edge>button, #fill>button{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#edge,#strokestyle,#fillbackground,#fill{
  display: flex;
  gap: 3px;
}
